
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../Assests/image3.png);
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 992px) {
    #hero {
      padding-left: 160px;
    }
  }
  
  #hero:before {
    content: "";
    /*background: rgba(255, 255, 255, 0.8);
    */position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color:#fff;
  }
  
  #hero p {
    color: #fff;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #0563bb;
    letter-spacing: 1px;
  }
  
  #hero .social-links {
    margin-top: 30px;
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
  
  #hero .social-links .instagram:hover {
    color: #E1306C;
  }
  #hero .social-links .linkedin:hover {
    color: #9ceeff;
  }
  #hero .social-links .twitter:hover{
    color:  #1DA1F2;
  }
  #hero .social-links .github:hover{
    color: #fff;
  }
  #hero .social-links .email:hover{
    color: #BB001B;
  }

  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  /*Icons hover color*/
  
