*{
	margin: 0;
	padding: 0;
}
.footer{
	background: #111;
	height: 100vh;
}
body{
	background: #111;
}
.footer h1{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 35px;
	letter-spacing: 2px;
	padding: 50px 0 50px;
	color: #fff;
	text-align: center;
}
.footer h3{
	font-weight: normal;
	font-family: sans-serif;
	letter-spacing: 1px;
	margin: 30px 30px;
	color: #fff;
	text-align: center;
}
.social-media{
	display: flex;
	justify-content: center;
    margin-bottom: 50px;
}
.social-media a{
	display: flex;
	background: #3E3E3E;
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	/* box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.377), */
				/* -6px -6px 10px -1px rgba(0,0,0,0.15); */
	border: 1px solid rgba(0,0,0,0);
	box-shadow: black 10px 0px 10px;
	transition: transform 0.5s;
}

.social-media a i{
	font-size: 35px;
	color: #fff;
}
.social-media a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.171),
				inset -4px -4px 6px -1px rgba(0,0,0,0.2),
				-4px -4px 6px -1px rgba(0,0,0,0.15),
				0.5px 0.5px 0px rgba(255, 255, 255, 0.171),
				0px 12px 10px -10px rgba(255,255,255,0.05);

	border: 1px solid rgba(0,0,0,0.01);

	transform: translateY(-10px);
}
.social-media a:hover i{
	transform: scale(0.90);
}